
.vs/BlazorApp3/DesignTimeBuild/.dtbcache.v2
.vs/BlazorApp3/FileContentIndex/ff1c4020-fd3c-4261-a5ef-fd26db525e25.vsidx
.vs/BlazorApp3/v17/.futdcache.v2
.vs/BlazorApp3/v17/.suo
.vs/BlazorApp3/v17/DocumentLayout.json
.vs/ProjectEvaluation/blazorapp3.metadata.v9.bin
.vs/ProjectEvaluation/blazorapp3.projects.v9.bin
.vs/ProjectEvaluation/blazorapp3.strings.v9.bin
obj/Debug/net8.0/BlazorApp3.AssemblyInfo.cs
obj/Debug/net8.0/BlazorApp3.AssemblyInfoInputs.cache
obj/Debug/net8.0/BlazorApp3.AssemblyInfo.cs
/.vs/PaymentMachineUI_Blazor/FileContentIndex
/.vs/BlazorApp3/FileContentIndex
