
.vs/BlazorApp3/DesignTimeBuild/.dtbcache.v2
.vs/BlazorApp3/FileContentIndex/ff1c4020-fd3c-4261-a5ef-fd26db525e25.vsidx
.vs/BlazorApp3/FileContentIndex/34326352-1c22-4bb4-b52b-014db8649b8d.vsidx
.vs/BlazorApp3/FileContentIndex/37de9e76-97de-48c7-b1cf-d479e7015f79.vsidx
.vs/BlazorApp3/FileContentIndex/37de9e76-97de-48c7-b1cf-d479e7015f79.vsidx
.vs/BlazorApp3/FileContentIndex/81d3c27f-97dc-4e8b-8610-21f43d7db826.vsidx
.vs/BlazorApp3/FileContentIndex/81d3c27f-97dc-4e8b-8610-21f43d7db826.vsidx
.vs/BlazorApp3/v17/.futdcache.v2
.vs/BlazorApp3/v17/.suo
.vs/BlazorApp3/v17/DocumentLayout.json
.vs/ProjectEvaluation/blazorapp3.metadata.v9.bin
.vs/ProjectEvaluation/blazorapp3.projects.v9.bin
.vs/ProjectEvaluation/blazorapp3.strings.v9.bin
obj/Debug/net8.0/BlazorApp3.AssemblyInfo.cs
obj/Debug/net8.0/BlazorApp3.AssemblyInfoInputs.cache
obj/Debug/net8.0/BlazorApp3.AssemblyInfo.cs
obj/Debug/net8.0/BlazorApp3.AssemblyInfo.GeneratedMSBuildEditorConfig.editorconfig
.vs/BlazorApp3/FileContentIndex/2888f6ba-10bc-4c0a-a2bb-3745b34c063b.vsidx
.vs/BlazorApp3/FileContentIndex/44d53a0e-1545-4eae-a718-0da7a840e3b5.vsidx
*.dll
obj/Debug/net8.0/BlazorApp3.dll
.vs/BlazorApp3/FileContentIndex/0181e382-b4f2-49cb-a6ce-3e81d8cd5196.vsidx
obj/Debug/net8.0/ref/BlazorApp3.dll
.vs/BlazorApp3/FileContentIndex/b2f90fc1-0bd2-45db-8cda-7e76a7241f1e.vsidx
.vs/BlazorApp3/FileContentIndex/084383d9-322b-478a-9760-39a7c847a8ec.vsidx
.vs/BlazorApp3/FileContentIndex/731287c9-fc9d-4e50-a754-c5bd486698e0.vsidx
*.vsidx

