@page "/Thanks"


<style>
    .login-container {
        max-width: 400px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 20px;
        box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        border: 1px solid rgba(255, 255, 255, 0.18);
        padding: 2rem;
    }

</style>


<header class="d-flex align-items-center justify-content-center" >
    <div class=" text-center bg-opacity-100 d-flex align-items-center">
        <img src="/assets/logo.png" alt="Zameco Logo" class="me-3" style="width: 60px; height: auto; margin-top: 40px;">
        <div>
            <h1 class="mt-5" style="font-size: 25px; color: #DC0000">Z A M E C O II</h1>
            <p style="color: #DC0000; font-size: 8px;">ZAMBALES II ELECTRIC COOPERATIVE, INC.</p>
        </div>
    </div>
</header>
<body class="">
    <div class="container min-vh-100">
        <div class="login-container text-center align-items-center jumbotron mt-5 mx-auto">
            <div class="mb-1">
                <i class="bi bi-check-circle-fill fs-1 text-success"></i>
            </div>
            <h1 class="display-4">Thank You!</h1>
            <p class="lead">Your bill has been successfully paid.</p>
            <a class="btn btn-success btn-lg" href="/">Home</a>
        </div>
    </div>

    <footer class="text-center mt-5">z
        <p>&copy; 2024 ZAMECO II - Zambales Electric Cooperative, Inc.</p>
        <p>All rights reserved.</p>
    </footer>
</body>

@code {

}
