@page "/Menu"

<header class="d-flex align-items-center justify-content-center">
    <div class="text-center bg-opacity-100 d-flex align-items-center mb-5">
        <img src="/assets/logo.png" alt="Zameco Logo" class="me-3"
             style="width: 60px; height: auto; margin-top: 30px;">
        <div>
            <h1 class="mt-5" style="font-size: 25px; color: #DC0000">Z A M E C O II</h1>
            <p style="color: #DC0000; font-size: 8px;">ZAMBALES II ELECTRIC COOPERATIVE, INC.</p>
        </div>
    </div>
</header>

<h1 class="text-center text-danger mb-5">What do you want to do?</h1>


<div class="row justify-content-center">
    <div class="col-md-4 mb-3">
        <div class="card h-100">
            <a href="paybill" class="card-link">
                <div class="card-body text-center">
                    <img src="/assets/Paybill.png" alt="Pay Bill Icon" class="mb-3 card-img-top"
                         style="max-width: 100px;">
                    <h5 class="card-title">Pay Bill</h5>
                </div>
            </a>
        </div>
    </div>
</div>


<footer class="mt-auto mb-4">
    <a href="login.html">
        <div class="container">
            <button class="btn btn-dark">Back</button>
        </div>
    </a>

</footer>

@code {

}
